@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Beer Hub</h1>
    <a>Crack a cold one with us!</a>
</div>

<div>
    <img src="..\images\beer-photo.png" alt="Beer">
</div>
